body {
	background-color: #FFB6C1;
	text-align: center;
	font-family: verdana;
	color:#DB7093;
}

.minah-wrap h1 {
	font-size: 60px;
}

img {
	margin-top: 15px;
	display: inline-block;
}